.destination-list-item__image {
    width: 80%;
    margin: 0 auto;
    height: 40vh;
}

.destination-list-item__name {
    font-size: 2em;
    margin: 10px auto 5px auto;
}

.destination-list-item__description {
    margin: 5px auto;
    width: 80%;
}
